    *{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background:#1f3057;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav{
    display:flex;
    justify-content: right;
    list-style-type: none;
    margin-right: 5%;
}
.logo{
    flex: 1 1 auto;
    margin-left:5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size:25px;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}
li a{
    margin:15px;    
    color:#fff;
    text-decoration: none;
    text-transform:uppercase;
    font-size:13px;
}



/* / nav{
margin-top:-70px;
float: right;
}
nav li{
    display:inline-block;
    padding: 20px;
    color:#fff;  
} */
.containerr{
    width: 100%;
    height: 100vh;
    text-align: center;
    /* top:50%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
    animation: animate 20s ease-in-out infinite;
}
.outer{
    position: absolute;
    
    /* top:5px; */
    color:#fff;     
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.5);
}
.details{
    margin-top:250px;
}

.details h2{
    font-size: 3em;
    color:#fff;
    text-transform: capitalize;
}
.details span{
    color:red;
    font-size:1.5em;
}

@keyframes animate{
    0%, 100%{
        background-image: url(img/download\ \(1\).jpg);
    }
    25%{
        background-image: url(img/bg.png);
    }
    50%{
        background-image: url(img/tech3.jpg);
    }
    75%{
        background-image: url(img/tech5.jpg);
    }
}

.display-item-with-icon{
    display:flex;
    flex-flow:row-wrap;
    align-items: stretch;
    justify-content: center;
    background:#ccc;
}

.display-item-icon-top{
    margin:10px 5px;
}
.display-item-icon{
    width:100px;
    height: 100px;
    margin-left:40px;
    color:#1f3057;
    line-height: 100px;
}
.display-item-icon-top .display-item-icon{
text-align: center;
font-size:80px;
font-weight:600;
margin-top:30px;
position:relative;
}
.site-txt-col{
    color:#1f3057;
    transition:.3s linear;
}
.display-item-icon-top .display-item-title{
    text-align: center;
    padding:20px 5px 15px;
    text-transform: uppercase;
    font:600 30px/30px consolas, serif;
    overflow: hidden;
    text-overflow: ellipsisl 
}
.display-item-text , p{
    text-align: center;
    font-size:15px;
}

.txt-color{
    color:#5a5c68;
}

/* .icons{
    width:30%;
    display:inline-block;
    padding: 30px;
}
.containner{
    max-width: 98.8%;
}
.rip{
  background: #ccc;
  display: flex;
  flex-flow: row-wrap;
  align-items: stretch;
  justify-content: center  
} */
.fa-chess-king{
    /* font-size: 100px; */
    margin-left:120px;
    /* color:#1f3057; */
}
.fa-microchip{
    font-size:100px;
    margin-left:120px;
    color:#1f3057;
}
.fa-chart-line{
    /* font-size:1px; */
    margin-left:120px;
    color:#1f3057;
}
/* .icons h3{
    font-size: 40px;
    margin-left:70px;
    color:#1f3057;
}
.icons p{
   padding: 10px;
   margin-bottom:1rem
} */
.images img{
    width: 40%;
    padding: 20px;
    margin: 20px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
}
.text img{
    width: 20%;
    margin: 20px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  .text{
    display: inline-block;
    margin: 25px;
    padding: 30px;
    position: absolute;
    width:50%;
  }
  .text h4{
    font-size: 30px;
    text-align: center;
  }
  .text p{
      padding: 20px;
      text-align: center;
      line-height: 30px;
  }
  .img img{
    width: 40%;
    padding: 20px;
    margin: 20px;
    margin-top:-80px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
}
.textt{
    display: inline-block;
    /* float:left; */
    width:50%;
    margin: 25px;
    /* margin-top:-0px; */
    padding: 70px;
}

.textt h4{
    /* font-size: 30px; */
    text-align: center; 
    color:#1f3057;
    font: 28px montserrat, sans-serif;
}
.textt h5{
    font:24px popping, serif;
    padding: 10px;
    color:#1f3057;
}
.textt p{
    padding: 10px;
    text-align: center;
    line-height: 30px;
    font:16px popping serif;
    color:#1f3057;
}
.contaiiner{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cover-background{
    background-image: url(img/fontend.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100vh;
    /* background:#122b3f; */
    color:#fff;
}
.cover-background > div{
    background-color:rgba(31, 48, 87, .85);
}
.padtb100{
    padding-top:100px !important;
    padding-bottom:100px !important;
}
.roww{
    display:flex;
    flex-wrap: wrap;
    /* margin-top:-90px; */
    margin-right:-15px;
    margin-left:-15px;
}
 .contaiiner h1{
    font-family: 'Montserrat', sans-serif;
    padding:20px;
    font-size:35px;
    margin-left:65px;
    margin-bottom:-20px;
    margin-top:-70px;
    color:#fff;
}
.blog-list{
    display:flex;
    flex-flow: nowrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 20px;
    margin-left:70px;
    align-content: space-around;
}
.blog-card{
    width:25%;
    background-color: #f5f5f5;
    margin:10px 5px;
}
.blog-card .blog-img{
    overflow:hidden;
    width:100%;
}
.blog-card .blog-desc{
    display:block;
    padding-top:8px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:8px;
    overflow:hidden;
    overflow-y: auto;
}
.blog-card .blog-img img{
    width:100%;
    transition: all .5s ease;
}
.img-responsive{
    vertical-align: middle;
    border-style:none;
}
a{
    font-family: 'josefin sans', sans-serif;
    font-weight:300;
    text-decoration:none;
}
.blog-card .blog-title{
    display:block;
    font:600 24px/24px consolas, serif;
    padding:15px 0;
}
.blog-card .blog-short-desc{
    width:100%;
    font-size:14px;
    padding-bottom:10px;
}
.site-back-color{
    background:#1f3057 !important;
    color:#fff;
}
.padtb32{
    padding-top:32px !important;
    padding-bottom:32px !important;
    margin-top:250px;
}
.rowss{
    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
}
.padtb24{
    padding-top:24px !important;
    padding-bottom:24px !important;
    font-size:25px;
    margin-left:80px;
}
.padtb16{
    padding-top:16px !important;
    padding-bottom:16px !important;
    margin-left:450px;
    
}
.box-shadow-big{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    /* float:right; */
}
.lighter{
    background:#f5f5f5;
    transition:all .3s linear 0s;

}
.btn-special{
    display:inline-block;
    border:0;
    padding:10px 15px;
    margin:2px;
    cursor: pointer;
    border-radius:4px;
}
.blog-listt{
    display:flex;
    flex-flow: nowrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    /* padding: 20px; */
    margin-top:-250px;
    margin-left:150px;
    align-content: space-around;
}
.site-txt-color{
    color:#1f3057;
    font-family: 'Montserrat', sans-serif;
    font-size:35px;
    margin-top:70px;
   margin-left:170px;
}
footer{
    background:#1f3057;
    padding:20px;
}
#wrapper{
    padding:20px;
    /* line-height: 50px; */
}
#wrapper p{
    color:#fff;
    padding:20px;
    margin-left:-860px;
    font: 14px popping serif;
}
#wrapper h2, h5{
    color:#fff;
    font: 16px popping serif;
}
/* .iconss{
float:right;
}
.fa-facebook{
    font-size:50px;
    color: #fff;
}

.fa-instagram{
    font-size:50px;
    color: #fff;
} */
/* responsive  */
/* mobile styling */
@media screen and (max-width:500px){
    /* header */
     .logo{
        width: 100%;
        display: block;
        /* text-align: center; */
        /* margin-bottom: 20px; */
      }
      .navbar{
          width:99.6%;
      }
      .padtb16{
          display:none;
      }
      .nav{
          display:none;
          /* font-size:5px; */
      }
      .details{
          font-size:10px;
      }
      .text-solution{
          width:100%;
          display: block;
      }
      .display-item-icon{
          width:100%;
          display:block;
      }

}
